:root {
    /* --gradient: linear-gradient(90deg, #a685e2, #6155a6); */
    --primary_gradient: linear-gradient(
        to right,
        #00c6ff 0%,
        #0072ff 51%,
        #00c6ff 100%
    );
    --secondary_gradient: linear-gradient(
        to right,
        #fe8c00 0%,
        #f83600 51%,
        #fe8c00 100%
    );
}
/* html {
    font-size: 90% !important;
} */
body {
    background: #f0f2f5;
}
.bg-login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.7) 51%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url(../../images/asset_img/olu-famule-Dv2PNbMWtsE-unsplash.jpg);
    /* background: #f0f2f5; */
    background-size: cover;
}

.sb-sidenav-menu .sb-nav-link-icon {
    width: 20px;
}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-track {
    background: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    /* background: #e9ecef; */
    border-radius: 10px;
}

.btn-grad-primary {
    background-image: var(--primary_gradient);
    margin: 5px 0;
    padding: 7px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
}
.btn-grad-primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad-secondary {
    background-image: var(--secondary_gradient);
    margin: 5px;
    padding: 7px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
}
.btn-grad-secondary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.btn {
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
}

.l-icon .fas {
    font-size: 40px;
    padding: 20px 0;
}

/* .card {
    border-radius: 10px;
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
} */

.bg-grad-primary {
    background: var(--primary_gradient);
}
.bg-grad-secondary {
    background: var(--secondary_gradient);
}

.p-f {
    padding: 0.2rem;
}

/* __Navbar Style__ */
.nav-gradient {
    background: linear-gradient(to right, #fff1eb, #ace0f9);
}
.active {
    border-bottom: 0.15rem solid #262626;
    /* border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; */
}
.nav-link {
    padding-top: 1rem;
    padding-bottom: 0.85rem;
}

/* __Homepage Style__ */
.post_btn {
    background: #f0f2f5;
    height: 50px;
    font-size: 16px;
    font-weight: normal;
}
